<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Help Info située sur Nancy, permet d'offrir un logiciel de gestion du temps de travail, personnalisable selon les besoins de l'utilisateur ainsi qu'un accompagnement durable basé sur la disponibilité, la compétence et la confiance.">
        <meta name="robots" content="noindex" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>{% block title %}Help Info{% endblock %}</title>      
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="https://bootswatch.com/5/morph/bootstrap.min.css"/>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css" integrity="sha256-5veQuRbWaECuYxwap/IOE/DAwNxgm4ikX7nrgsqYp88=" crossorigin="anonymous">
            
            {{ encore_entry_link_tags('app')}}
             <!-- Renders a link tag (if your module requires any CSS)
                 <link rel="stylesheet" href="/build/style.css"> -->

        {% endblock %}
            <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js" integrity="sha256-YicH/8aE660iEnJtgll3vT54dJApy3XkYmqNfGVFEzA=" crossorigin="anonymous"></script>
            {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <!--début block header-->
        <header>
            <nav id="navId" class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarColor03">
                        <a class="navbar-brand"><img id="logo" src="{{ asset('images/logoHelpInfoArrondi.png') }}" alt="logo"></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div id="containerMenu">
                            <div id="menu navA navbar-nav me-auto">
                                <dl class="nav-item">
                                    <dt class="nav-link"><a href="{{path('home')}}">Accueil</a></dt>
                                    <dd>
                                        <ul>
                                            <li> <a href="{{path('home')}}#getMS-MS">Logiciel</a> </li>
                                            <li> <a href="{{path('home')}}#maintenance">Maintenance</a> </li>
                                            <li> <a href="{{path('home')}}#assistance">Assistance</a> </li>
                                            <li> <a href="{{path('home')}}#client">Clients</a> </li>
                                        </ul>
                                    </dd>
                                </dl>
                                <dl class="nav-item">
                                    <dt class="nav-link"><a href="{{path('appli')}}"> Solution GET-MS</a></dt>
                                    <dd>
                                        <ul>
                                            <li> <a href="{{path('appli')}}#1">Gestion des plannings</a> </li>
                                            <li> <a href="{{path('appli')}}#2">Agent</a> </li>
                                            <li> <a href="{{path('appli')}}#3">Horaire de base</a> </li>
                                            <li> <a href="{{path('appli')}}#4">Journée planning</a> </li>
                                            <li> <a href="{{path('appli')}}#5">Planning individuel</a> </li>
                                            <li> <a href="{{path('appli')}}#6">Planning journalier</a> </li>
                                            <li> <a href="{{path('appli')}}#7">Planning collectif</a> </li>
                                            <li> <a href="{{path('appli')}}#8">Plan de service</a> </li>
                                            <li> <a href="{{path('appli')}}#9">Exporter</a> </li>
                                            <li> <a href="{{path('appli')}}#10">Editions</a> </li>
                                        </ul>
                                    </dd>
                                </dl>
                                <dl class="nav-item">
                                    <dt class="nav-link"><a href="{{path('mooc')}}"> Formation</a></dt>
                                </dl>
                                <dl class="nav-item">
                                    <dt class="nav-link"><a href="{{path('demo')}}">Demander une démo</a></dt>
                                    <dd>
                                        {% if app.user %}
                                        {# si l'utilisateur n'est pas authentifier, pas d'acces au calendrier #}
                                        <ul>
                                            <li> <a href="{{path('demo')}}#calendar">Calendrier</a> </li>
                                            <li> <a href="">Créer un créneau</a> </li>
                                        </ul>
                                        {% else %}
                                        {% endif %}
                                    </dd>
                                </dl>
                                <dl class="nav-item">
                                    <dt class="nav-link"><a href="/site">Assistance</a></dt>
                                </dl>
                                <dl class="nav-item">
                                    <dt class="nav-link"><a href=""><svg height="30px" width="30px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM256 128c39.77 0 72 32.24 72 72S295.8 272 256 272c-39.76 0-72-32.24-72-72S216.2 128 256 128zM256 448c-52.93 0-100.9-21.53-135.7-56.29C136.5 349.9 176.5 320 224 320h64c47.54 0 87.54 29.88 103.7 71.71C356.9 426.5 308.9 448 256 448z"/></svg></a></dt>
                                    <dd>
                                        <ul>
                                            {% if not app.user %}
                                            <li class="aList me-sm-2">
                                                <a class="my-2 my-sm-0" href="{{path('security_login')}}">Connexion</a>
                                            </li>
                                            {% else %}
                                            <li class="aList me-sm-2">
                                                <p> {{ app.user.username }} </p>
                                                <p>Mon compte</p>
                                                <a class="my-2 my-sm-0" href="{{path('security_logout')}}">Déconnexion</a>
                                            </li>
                                           {% endif %}
                                        </ul>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <!--fin block header-->
        <!--début block body-->
        <div class="main">
            {% block body %}{% endblock %}
        </div>
        <!--fin block body-->
        <!--début block footer-->
        <footer class="bg-light">
            <div class="contact">
                <h5>Contact</h5>
                <address> 42 rue Sergent Bobillot, <br> 54000 Nancy</address>
                <p><svg height="20px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M320 0H64C37.49 0 16 21.49 16 48v416C16 490.5 37.49 512 64 512h256c26.51 0 48-21.49 48-48v-416C368 21.49 346.5 0 320 0zM192 464c-17.75 0-32-14.25-32-32s14.25-32 32-32s32 14.25 32 32S209.8 464 192 464z"/></svg>  03 83 44 55 49</p>
                <p><svg height="20px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M207.8 20.73c-93.45 18.32-168.7 93.66-187 187.1c-27.64 140.9 68.65 266.2 199.1 285.1c19.01 2.888 36.17-12.26 36.17-31.49l.0001-.6631c0-15.74-11.44-28.88-26.84-31.24c-84.35-12.98-149.2-86.13-149.2-174.2c0-102.9 88.61-185.5 193.4-175.4c91.54 8.869 158.6 91.25 158.6 183.2l0 16.16c0 22.09-17.94 40.05-40 40.05s-40.01-17.96-40.01-40.05v-120.1c0-8.847-7.161-16.02-16.01-16.02l-31.98 .0036c-7.299 0-13.2 4.992-15.12 11.68c-24.85-12.15-54.24-16.38-86.06-5.106c-38.75 13.73-68.12 48.91-73.72 89.64c-9.483 69.01 43.81 128 110.9 128c26.44 0 50.43-9.544 69.59-24.88c24 31.3 65.23 48.69 109.4 37.49C465.2 369.3 496 324.1 495.1 277.2V256.3C495.1 107.1 361.2-9.332 207.8 20.73zM239.1 304.3c-26.47 0-48-21.56-48-48.05s21.53-48.05 48-48.05s48 21.56 48 48.05S266.5 304.3 239.1 304.3z"/></svg><a href="mailto:courrier@helpinfo.fr"> courrier@helpinfo.fr</a></p>
            </div>
            <div class="hour">
                <a href="https://www.google.fr/maps/place/Help+Info/@48.6876037,6.1579247,17z/data=!3m1!4b1!4m5!3m4!1s0x4794a29b749417df:0x5e4da2dbbe3cb892!8m2!3d48.6876037!4d6.1601134" target="blank">Nos horaires</a>
                <p>Retrouvez-nous sur  
                    <a href="https://www.facebook.com/Helpinfo-102862271180558/" target="blank">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" height="25px"><!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"/></svg>
                    </a>
                </p>
                <img class="qualiopi" src="{{ asset('images/LogoQualiopi-150dpi-AvecMarianne.png')}}" alt="">
            </div>
            <div class="reseauSociaul">
                <iframe height="200px" width="200px" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2633.9351935603177!2d6.157924715668326!3d48.68760367927109!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4794a29b749417df%3A0x5e4da2dbbe3cb892!2sHelp%20Info!5e0!3m2!1sfr!2sfr!4v1645798779046!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </footer>
        <!--fin block footer-->
    </body>
</html>